name: Build AppImage (x86_64 & aarch64)

on: [push, pull_request]

jobs:
  build:
    name: build-${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            os: ubuntu-22.04
            qt_host: linux
            qt_version: "6.9.3"
            qt_arch: linux_gcc_64
            qt_dir: gcc_64
            qmake_args: ""

          - arch: aarch64
            os: ubuntu-22.04-arm
            qt_host: linux_arm64
            qt_version: "6.7.3" # Qt 6.8.3以降だとglibcが新しすぎるためビルド不可
            qt_arch: linux_gcc_arm64
            qt_dir: gcc_arm64
            qmake_args: "QMAKE_CC=/usr/bin/gcc QMAKE_CXX=/usr/bin/g++ QMAKE_LINK=/usr/bin/g++ -spec linux-g++"
    steps:
      - uses: actions/checkout@v4
      - name: Install Qt & Build
        run: |
          echo "Install Build Tools"
          sudo apt-get -qq update > /dev/null 2>&1
          sudo apt-get -qq install -y build-essential libgl1-mesa-dev libfuse2 wget python3-pip ffmpeg gstreamer1.0-plugins-base gstreamer1.0-plugins-bad \
              libfontconfig1 libdbus-1-3 libx11-xcb1 libxcb-cursor0 libxcb-glx0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-render-util0 libxcb-shape0 libxcb-shm0 libxcb-sync1 libxcb-xfixes0 libxcb-xinerama0 libxcb-xkb1 libxkbcommon-x11-0 libpulse-dev libsm-dev \
              > /dev/null 2>&1
          pip3 install --quiet aqtinstall

          echo "Install Qt"
          python3 -m aqt install-qt ${{ matrix.qt_host }} desktop ${{ matrix.qt_version }} ${{ matrix.qt_arch }} -m qtmultimedia

          echo "Set Path"
          export QT_PATH=$(pwd)/${{ matrix.qt_version }}/${{ matrix.qt_dir }}
          export PATH="$QT_PATH/bin:$PATH"

          echo "Build"
          mkdir build && cd build
          qmake ../src/AsahikawaProcon-Server.pro ${{ matrix.qmake_args }}
          make -j$(nproc)

          echo "Extract linuxdeployqt AppImage"
          wget -c https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-${{ matrix.arch }}.AppImage > /dev/null 2>&1
          chmod a+x linuxdeployqt-continuous-${{ matrix.arch }}.AppImage
          ./linuxdeployqt-continuous-${{ matrix.arch }}.AppImage --appimage-extract > /dev/null 2>&1
          rm ./linuxdeployqt-continuous-${{ matrix.arch }}.AppImage

          echo "Create Desktop File"
          echo -e "[Desktop Entry]\nType=Application\nName=AsahikawaProcon-Server\nExec=AsahikawaProcon-Server\nIcon=default\nCategories=Development;" > AsahikawaProcon-Server.desktop
          touch default.png

          echo "Create CHaserServer AppImage"
          ./squashfs-root/usr/bin/linuxdeployqt ./AsahikawaProcon-Server -appimage -unsupported-allow-new-glibc

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CHaserServer-${{ matrix.arch }}
          path: ./build/*.AppImage
